body{
    background-color: rgb(15, 14, 14);
}

.fa{
    color: rgb(16, 71, 237);
}

.icon-color{
    color: #000;
}

.box-part{
    background-color: rgb(255, 252, 252);
    padding: 40px 5px;
    margin: 30px 0px;
}

span{
    font-size: 12px;
}

a{
    border-bottom: 1px solid blue;
}

.box{
    padding: 60px 0px;
}
.row .col-md-4:nth-child(2) {
    text-align: center;
  }
  .fa instagram.icon-color{
    color: #e90303;
  }